body.light {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  transition: all 0.3s ease;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  transition: all 0.3s ease;
}